.twitcher{
  display:flex;
  flex-direction: column;

  background-color: $white;
  width: 100%;
  box-shadow: 1px 1px 3px #111;
  
  padding: 10px;

  .twitcher_status{
    align-self: flex-end;
  }

  p {
    color: $twitcher-text;
  }

  h1 {
    font-size: 120%;
    font-weight: 700;
  }
}

.online{
  color: $status-online;
}

.offline{
  color: $status-offline;
}