#twitch-streamers>article{
  a{
    text-decoration: none;
    color: $black;
  }
  min-height: 120px;
  flex: 1;

  display: flex;
  flex-direction: column;

  background-color: $white;
  box-shadow: 1px 1px 3px #111;
  
  padding: 10px;

  p {
    color: $twitcher-text;
  }

  h1 {
    font-size: 120%;
    font-weight: 700;
  }
}

.online{
  flex-direction: column;
  color: $status-online;
  align-self: flex-end;
}

.offline{
  color: $status-offline;
  align-self: flex-end;
}