.twitcher{
  display:flex;
  flex-direction: column;
  justify-content: center;

  background-color: $white;
  width: 100%;
  box-shadow: 1px 1px 3px #333;
  padding: 15px 10px;
}

.twitch_main{
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.twitch_game{
}
.twitch_online{
  color: $status-online;
}

.twitch_offline{
  color: $status-offline;
}

.twitch_header{
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}

.twitch_user {
  font-size: 120%;
  font-weight: 700;
}

.twitch_status{
  color: #bdbdbd
}
