*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body,div,p{
  display: flex;
  flex-direction: column;
}

span, svg{
  display: inline-flex;
  flex-direction: row;
}

.header{
  justify-content: space-around;

  border-bottom: 2px solid #000;

  font-size: 180%;
  font-weight: 500;
  background: $header-color;
  font-family: $header-font;
}

.streamers{
  font-family: $primary-font;

  display:flex;
  flex-direction: column;
  overflow-y: scroll;
  flex-grow: 1;
}